html,body {
  width: 100vw;
  height: 100vh;
}

body {
  /* padding-top: 54px; */
  padding-bottom: 50px;
  color: #333;
  background-color: white;
  overflow: hidden;
  font-size: 0.875rem;
}

.wrapper {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  height: calc(100vh - 150px);
  overflow-x: auto;
  overflow-y: auto;
}

.content {
  display: flex;
  flex: 1;
}

.wait {
  cursor: wait;
}

.monospace {
  font-family: 'Courier New', 'monospace';
}

.table th, td {
  vertical-align: middle;
}

.movable {
  cursor: move !important;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
