<!DOCTYPE html>
<html ng-app="EportmonApp">
  <head>
    <meta charset="UTF-8">
    <title>Portmon</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules\font-awesome\css\font-awesome.css" rel="stylesheet">
    <link href="css/eportmon.css" rel="stylesheet">
  </head>
  <body ng-controller="EportmonCtrl as vm"  ng-class="{'wait': vm.wait}" ng-cloak>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top drag movable">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">
        <img src="images/eportmon.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
      <div class="navbar-collapse collapse" id="navbar1">
        <ul class="navbar-nav">
          <li class="navbar-text flex-shrink-0">
            <span class="nav-text">Monitor ports:</span>
          </li>
        </ul>
        <form class="form-inline mx-2 d-inline flex-fill">
          <div class="input-group">
              <input type="search" class="form-control flex-fill no-drag"
              id="ports"
              ng-model="vm.onlyPorts"
              ng-change="vm.portsChanged()"
              ng-keydown="$event.keyCode === 13 && vm.portsChanged() || vm.doNetstat()"
              placeholder="Enter comma separated set of ports">
          </div>
        </form>
        <ul class="navbar-nav ml-auto">
          <form class="form-inline flex-shrink-0">
            <button type="button"
              class="btn btn-sm mx-2 no-drag"
              ng-class="{'btn-danger': vm.monitor, 'btn-success': !vm.monitor}"
              ng-click="vm.toggleMonitoring()"
              title="{{vm.monitor ? 'Pause monitoring' : 'Resume monitoring'}}">
              <i class="fa" ng-class="{'fa-play': !vm.monitor, 'fa-pause': vm.monitor}"></i>
            </button>
            <button  type="button"
              class="btn btn-sm btn-success mx-2 no-drag"
              ng-click="vm.doNetstat()">
              <i class="fa fa-refresh"></i>
            </button>
            <input class="form-control mx-2 no-drag" type="checkbox" ng-model="vm.listeningOnly">
          </form>
          <li class="navbar-text flex-shrink-0">
            <span class="nav-text">LISTENING Only</span>
          </li>
          <li class="nav-item flex-shrink-0">
            <button class="nav-link btn btn-sm no-drag" ng-click="vm.github()" target="blank" title="Github">
              <i class="fa fa-github"></i>
            </button>
          </li>
          <li class="nav-item flex-shrink-0">
            <a class="nav-link  no-drag " ng-click="vm.quit()">
              <i class="fa fa-times"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top drag movable">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar2">
        <ul class="navbar-nav">
          <li class="navbar-text flex-shrink-0">
            <span>Count: {{(vm.ports | filter:vm.filterPorts).length}} </span>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="navbar-text flex-shrink-0">
            <span class="ml-auto">Updated at: {{ vm.updatedAt | date: 'hh:mm:ss a (MM/dd/yyyy)' }} </span>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrapper">
      <div class="container-fluid">
        <div class="row content">
          <table class="table table-sm table-striped table-hover">
            <thead>
              <tr>
                <th class="col-xs-1">Protocol</th>
                <th class="col-xs-2 text-right">Local</th>
                <th class="col-xs-1">&nbsp;</th>
                <th class="col-xs-6">Status</th>
                <th class="col-xs-1 text-right">PID</th>
                <th class="col-xs-1 text-center">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr class="monospace" ng-repeat="portLine in vm.ports | filter:vm.filterPorts | orderBy:vm.orderByPorts track by $index">
                <td>{{portLine[0]}}</td>
                <td class="text-right px-2"><strong>{{portLine[1]}}</strong></td>
                <td>&nbsp;</td>
                <td>{{portLine[2]}}</td>
                <td class="text-right">
                  <strong>{{portLine[3]}}</strong>
                </td>
                <td class="text-center">
                  <button class="btn btn-sm btn-danger" ng-click="vm.killProcess($event, portLine[3])"><i class="fa fa-power-off"></i></button>
                </td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-dark bg-dark navbar-fixed-bottom drag movable">
        <p class="navbar-text ml-auto">&copy; Portmon &middot; Sandip Chitale</p>
    </nav>

    <script>
      window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.js');
    </script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/eportmon.js"></script>
  </body>
</html>
